.part {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 40px 0;
}

.part-header {
  font-size: 20px;
  font-family: $header-font;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.part-content {
  padding: 10px 0;
  text-align: justify;
}

////////////////////////////////////////////////////////////////////////////////

.list {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  font-family: $base-font;
  color: $gray-light;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
}

.attributes {
  font-family: $base-font;
  font-weight: 400;
}

.social-links {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio {
  background: #555555;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: $header-font;
  font-size: 14px;
  border-top: solid 2px white;
}

#linkedin {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #1B85BD;
  }
}

#twitter {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #1DA1F2;
  }
}

#github {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #0D2636;
  }
}

#instagram {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: rgba(227, 63, 96, 1.00);
  }
}
