.part {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0 40px 0;
}

.part-header {
  font-size: 20px;
  font-family: $header-font;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.part-content {
  padding: 5px 0;
  text-align: justify;
}

////////////////////////////////////////////////////////////////////////////////

.list {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  font-family: $base-font;
  color: $gray-light;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
  padding-right: 35px;
  &#first-key {
    padding-right: 130px;
  }
  &#last-key {
    padding-right: 10px;
  }
}

.attributes {
  font-family: $base-font;
  font-weight: 400;
}

.social-links {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio {
  background: #555555;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: $header-font;
  font-size: 14px;
  border-top: solid 2px white;
}

#linkedin {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #1B85BD;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
}

#twitter {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #1DA1F2;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
}

#github {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #0D2636;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
}

#instagram {
  color: $icon-color;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: rgba(227, 63, 96, 1.00);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
}

p.part-content > a {
  color: $base-color;
  box-shadow: inset 0 -4px $link-color;
  &:hover {
    animation-name: blinking-link;
    animation-duration: 90ms;
    // animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
}

@keyframes blinking-link {
  0% {
    color: $base-color;
    box-shadow: inset 0 -4px $link-color;
  }
  100% {
    color: white;
    box-shadow: inset 0 -40px $link-color;
  }
}
