.headline-container {
  // background: #F1F2F2;
  text-align: center;
  background: $gray-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-image {
  width: 160px;
  border-radius: 50%;
  margin-top: 40px;
}

.name {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 10px;
  font-family: $header-font;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.tagline {
  margin-top: 0px;
  padding: 10px;
  font-family: $base-font;
  color: $gray-lighter;
  font-weight: 300;
  font-size: $base-size;
}

.cta-email {
  background: $cta-color;
  color: white;
  padding: 7px 18px;
  font-family: $base-font;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  transition: all 0.1s ease;
  border-radius: 2px;
  margin: 0 0 20px 0;
  &:hover {
    background: white;
    color: $cta-color;
  }
}
