a {
  text-decoration: none !important;
}

////////////////////////////////////////////////////////////////////////////////

.wrapper-name {
  background-color: #F1F2F2;
}

.name {
  margin-top: 40px;
  padding: 10px;
  font-family: $header-font;
  font-size: 40px;
  font-weight: bold;
  color: $header-color;
  letter-spacing: 4px;
}

.tagline {
  margin-bottom: 40px;
  padding: 10px;
  font-family: $base-font;
  color: $gray-light;
  font-weight: light;
  font-size: $base-size;
}

.wrapper-description {
  background-color: white;
}

.description {
  padding: 80px 0 60px 0;
}

.social-links {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  font-family: $header-font;
  font-size: 14px;
  color: $header-color;
}


.cta-email {
  width: 100%;
  background: #EA5B0C;
  text-align: center;
  padding: 5px;
  font-family: $header-font;
  font-size: 14px;
  color: white;
  transition: all 0.1s ease;
  &:hover {
    background: white;
    color: #EA5B0C;
  }
}

.portfolio {
  background: #555555;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: $header-font;
  font-size: 14px;
}

#linkedin {
  color: $icon-color;
  &:hover {
    color: #1B85BD;
  }
}

#twitter {
  color: $icon-color;
  &:hover {
    color: #1DA1F2;
  }
}

#github {
  color: $icon-color;
  &:hover {
    color: #0D2636;
  }
}

////////////////////////////////////////////////////////////////////////////////
.wrapper-website {
  padding: 50px 0;
  border-bottom: solid 1px white;
}

.logo-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  margin: 10px 0;
}

.text-containter {
  width: 100%;
  padding: 10px;
}

.text-title {
  font-family: $header-font;
  color: black;
  font-size: 20px;
  margin: 15px 0;
}

.text-description {
  font-family: $base-font;
  color: black;
  font-size: 15px;
}

#hubsy {
  background: RGBA(246, 239, 224, 0.8);
  transition: all 0.2s ease;
  &:hover {
    background: RGBA(246, 239, 224, 1);
    margin: 10px 0;
    padding: 40px 0;
  }
}

#dezimo {
  background: RGBA(10, 10, 10, 0.05);
  transition: all 0.2s ease;
  &:hover {
    background: RGBA(10, 10, 10, 0.1);
    margin: 10px 0;
    padding: 40px 0;
  }
}

#verbos {
  background: RGBA(29, 161, 242, 0.15);
  transition: all 0.2s ease;
  &:hover {
    background: RGBA(29, 161, 242, 0.2);
    margin: 10px 0;
    padding: 40px 0;
  }
}
