.mynavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $gray-darker;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.navbar-active {
  opacity: 0.95;
}

.navbar-image {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-name {
  font-family: $header-font;
  font-size: 10px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.cta-email-navbar {
  background: $cta-color;
  color: white;
  padding: 5px 15px;
  font-family: $base-font;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
  transition: all 0.1s ease;
  border-radius: 2px;
  &:hover {
    background: white;
    color: $cta-color;
  }
}
