.project-banner {
  padding: 10px 30px;
  margin-top: 3px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    opacity: 0.9;
  }
}

.project-title {
  font-family: $header-font;
  color: white;
  font-size: 20px;
  margin: 15px 0;
}

.project-content {
  display: none;
  text-align: center;
}

.logo {
  width: 150px;
  margin: 20px;
}

.text-container{
  width: 100%;
  text-align: left;
}

.project-key {
  font-family: $header-font;
  font-size: 13px;
}

.project-attributes {
}

.footer {
  height: 50px;
}

// PROJECTS SPECIFIC (JS)  /////////////////////////////////////////////////////

// HUBSY
.hubsy {
  background: $hubsy;
  .project-content span.project-key {
    color: $hubsy;
  }
  .project-content a {
    background: $hubsy;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: $header-font;
    font-size: 13px;
    transition: padding 0.1s ease;
    &:hover {
      padding: 7px 14px;
    }
  }
}

#hubsy-clicked {
  background: white;
  border: 3px solid $hubsy;
  .project-title {
    color: $hubsy;
  }
}

// MARSOT
.marsot {
  background: $marsot;
  .project-content span.project-key {
    color: $marsot;
  }
  .project-content a {
    background: $marsot;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: $header-font;
    font-size: 13px;
    &:hover {
      padding: 7px 14px;
    }
  }
}

#marsot-clicked {
  background: white;
  border: 3px solid $marsot;
  .project-title {
    color: $marsot;
  }
}
