.project-banner {
  padding: 10px 30px;
  border-top: solid 2px white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.project-title {
  font-family: $header-font;
  color: white;
  font-size: 20px;
  margin: 15px 0;
}

.project-content {
  display: none;
  text-align: center;
}

.logo {
  width: 150px;
  margin: 10px 0;
}

.text-containter {
  width: 100%;
  padding: 10px;
}

.text-description {
  font-family: $base-font;
  color: black;
  font-size: 15px;
}

#hubsy {
  background: RGBA(221, 186, 128, 0.5);
  transition: all 0.2s ease;
  &:hover {
    background: RGBA(221, 186, 128, 0.4);
  }
}

#marsot {
  background: RGBA(10, 10, 10, 0.05);
  transition: all 0.2s ease;
  &:hover {
    background: RGBA(10, 10, 10, 0.1);
  }
}

.footer {
  height: 5vh;
  width: 100%;
}

// JS //////////////////////////////////////////////////////////////////////////

.not-displayed {
  display: none;
}

.displayed {
  display: inline-block;
  transition: display 1000ms ease;
}

.offscreen {
  transform: translateY(-100vw)
}
