// FONT FAMILY
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway");
$base-font: "Raleway", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Helvetica", "sans-serif";

// FONT COLORS
$base-color: black;
$header-color: #555555;

// FONT SIZE
$base-size: 16px;
$base-height: 1.4;

// GREY SCALE
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

// ORTHER COLORS
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// SIZES
$wrapper-height: 200px;

// ICONS
$icon-color: lighten(#000, 85%);;
